/* a {
  text-decoration: none;
  color: black;
} */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  background: linear-gradient(
    45deg,
    rgb(125, 126, 125) 0%,
    rgb(14, 14, 14) 100%
  );
  padding: 1em;
}
